* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: #333;
  line-height: 1.5;
  height: 100vh;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div {
  text-align: center;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
p {
  font-size: 1.8rem;
}
button {
  margin-top: 5px;
  background-color: lightskyblue;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border-color: black;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
  margin-bottom: 2em;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
h1 {
  font-size: 66px;
  font-weight: 800;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
